@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background: linear-gradient(145deg, #cacaca, #faebd7);
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #faebd7;
}
::-webkit-scrollbar-thumb {
    background-color: #504a43;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #686057;
}

.signup-form-container h1 {
    text-align: center;
}

.signup-form-container-child {
    position: relative;
    top: 20%;
    left: -25%;
}

.signup-form {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #cacaca, #faebd7);
    box-shadow:  24px 24px 48px #bebebe,
                -24px -24px 48px #ffffff;
}

.signup-form-container label {
    font-weight: 600;
    font-size: 0.8rem;
    color: #504a43;
}

.signup-form-container input {
    padding: 10px 30px;
    border: none;
    margin-top: 10px;
    border-radius: 3px;
    outline-style: none;
}

.signup-form-container input:hover {
    border: none;
}

.signup-form-container button {
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: #8d8d8d;
    transition: 200ms ease-in;
}
.signup-form-container button:hover {
    background-color: #757575;
}
.signup-form-container form {
    font-size: 0.9em;
}
.signup-form-container form a {
    color: blue;
    text-decoration: none;
}
.signup-form-container form a:hover {
    text-decoration: underline;
}

.signup-form-container img {
    width: 50%;
    min-width: 80%;
}

.close {
    padding: 15px 15px;
    position: absolute;
    right: 0em;
    background-color: #504a43;
    transition: 300ms;
}
.close:hover {
    opacity: 80%;
}